#button {background-color: #3386c0;
    width: 100px;
    font-size: 30px;
    color: white;
    padding: 12px 30px 20px 30px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px #1f5275;

}


#button:hover::after {box-shadow: 0;
background-color: #3ea1e8;}