li {list-style-type: none;
    margin: 0px 50px;
}

li a {color: white;
text-decoration: none;}

li a:hover {color: #45867c;

}

ul {display: flex;
    justify-content;
width: 100%;
height: 20px;
background-color: #404149;
padding: 10px 35% 30px 35%;
}